name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: docker build -t dakeinu/curriculum:latest -f ./Dockerfile .

      - name: Push Docker image to Docker Hub
        run: docker push dakeinu/curriculum:latest

      - name: Setup SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Update server and deploy with Docker
        run: |
          ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} << EOF
            sudo -u ${{ secrets.SSH_CHANGED_USER }} bash -c "
              cd ${{secrets.SSH_CD_PATH}}
              git pull
              docker pull dakeinu/curriculum:latest
              docker-compose up -d --build
            "
          EOF

  notification:
    runs-on: ubuntu-latest
    steps:
      - name: 'Envoyer le résultat via Webhook N8N'
        uses: Ilshidur/action-n8n-webhook@v1
        with:
          n8n_webhook_url: ${{ secrets.WEBHOOK_URL }}
          n8n_webhook_data: '{"message": "Le déploiement de la CI/CD a été effectué avec succès."}'
        
